# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder and test files when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/test_scene.gd !export-ignore
/test_scene.tscn !export-ignore
